
.btn{
    width:247px;
    height:47px;
    color:var(--primary-color);
   background:var(--secondary-color);
   outline:none;
   border:none;
   font-size:16px;
   font-family: inherit;
   font-weight:bold;
   margin-top:30px;
   border-radius:5px;
   cursor:pointer;
   text-decoration: none;
}

.setup___container{
    display: grid;
    grid-template-columns:2fr 1fr;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    ;
}
.account__setup{
  position: relative;
    border-right:1px solid gray;
    height: 100%;
}

.bag__side{
  border:1px solid #2243
}
  
  
  
