.relatedProducts__container{
    width: 945px;
    height: 170px;
    margin-bottom: 400px;
    margin:0 auto;
}

.relatedProducts__container h4{
    padding:8px;
    color:var(--text-color-gray);
    font-size:17px;
}
.arrow__container{
    display:flex;
    justify-content:flex-end;
}

.arrow_one{
    font-size:25px;
    background-color:gray;
    border-radius: 50%;
    color:white;
    margin-right:10px;
}

.arrow_two{
    font-size:25px;
    background-color:var(--primary-color);
    border-radius: 50%;
    color:white;
}

.relatedP__parent{
    display: flex;
    padding:5px;
    border-right:1px solid gray;
    border-top-right-radius:4px;
}
.relatedP__box{
 display: block;
    height:300px;
    margin-left: 30px;
    padding:5px;

}

.relatedP__img{
    width:200px;
    height:200px;
    border-radius: 5px;
}
.relatedP__desc{
    width: 250px;
    height:100px;
    padding:5px;
}

